[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
    signingkey = 2C5F3AD67C62F81F

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    bn = rev-parse --abbrev-ref HEAD
    hist = log --pretty=format:\"%C(green)%h%C(cyan) %ar%Creset - %s%C(red)%d%C(yellow) [%an] %Creset\" --graph --date=short
    one = log --pretty=format:'%C(blue)%h %C(green)%<(12)%ad %C(auto,yellow)%<(12,trunc)%an %C(auto,magenta)%G?%C(auto)%d %s' --date=relative
    type = cat-file -t
    dump = cat-file -p
    diff = diff -F
    patch = !git --no-pager diff --no-color
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    fa = fuzzy-add
    fb = fuzzy-branch
    fco = fuzzy-checkout
    pt = pick-tree
    dt = difftool

[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[core]
    excludesfile = ~/.gitignore-global
    ignorecase = true
    pager = hash diff-so-fancy 2>&1 >/dev/null && diff-so-fancy | less --tabs=4 -RFXS || less --tabs=4 -RFXS
[push]
    default = GIT_PUSH_DEFAULT
[color]
    ui = auto
[color "diff"]
    meta = blue bold
    commit = yellow
    frag = magenta bold
    old = red bold
    new = green
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = green 22
[color "branch"]
    current = reverse
    local = yellow bold
    remote = green bold
[color "status"]
    header = green bold
    added = green
    changed = red
    untracked = magenta bold
    branch = cyan
    nobranch = magenta
    unmerged = red bold
[branch]
    autosetuprebase = always
    autosetupmerge = always
[credential]
    helper = GIT_CREDENTIAL_HELPER
[web]
    browser = open
[rerere]
    enabled = 1
[fetch]
    prune = true
[help]
    autocorrect = 1
[diff-so-fancy]
    markEmptyLines = false
    rulerWidth = 100
[commit]
    gpgsign = true
[diff]
    algorithm = histogram
    indentHeuristic = true
    tool = vimdiff
[difftool]
    prompt = false
