aliases:
    co: pr checkout
    sw: pr checkout
    pc: pr create
    pv: pr view
    pu: pr view --json url --jq '.url'
    pb: pr view -w
    ps: pr status
    user: |-
        api graphql --paginate
          --template '{{range .data.repository.assignableUsers.nodes}}{{printf "%-32s" .login | color "green"}}{{.name}}{{"\n"}}{{end}}'
          -F owner=':owner' -F repo=':repo' -F name='$1' -f query='
            query ($repo: String!, $owner: String!, $name: String!, $endCursor: String) {
              repository(name: $repo, owner: $owner) {
                assignableUsers(first: 50, after: $endCursor, query: $name) {
                  nodes {
                    login
                    name
                  },
                  pageInfo {
                    hasNextPage
                    endCursor
                  }
                }
              }
            }
          '
version: "1"
pager: delta --side-by-side
editor: vim
