<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.thomasupton.tarsnap-acts</string>
		<key>ProgramArguments</key>
		<array>
            <string>/Users/tupton/.local/bin/acts</string>
		</array>
		<key>StandardErrorPath</key>
		<string>/var/log/tarsnap-acts.log</string>
		<key>StandardOutPath</key>
		<string>/var/log/tarsnap-acts.log</string>
		<key>RunAtLoad</key>
		<false/>
		<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Hour</key>
				<integer>3</integer>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</plist>

